<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="vertical">
		<LinearLayout
            android:orientation="horizontal"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:padding="5dp">
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:layout_weight="1">
                <TextView
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:textColor="@color/colorPrimary"
                    android:id="@+id/ActualizarDatos"
                    android:text="Actualizar Datos"
                    android:textAlignment="center" />
            </LinearLayout>
        </LinearLayout>
	</LinearLayout>
		<!--Datos Maestros-->
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:padding="10dp"
            android:background="@color/grey">
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:layout_weight="1">
				<CheckBox
                    android:id="@+id/chkDatosMaestros"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:text="Datos Maestros"
                    android:textStyle="bold"
                    android:textColor="@color/negro" />                
            </LinearLayout>
        </LinearLayout>
		<!--Etiquetas Consumo-->
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:padding="10dp"
            android:background="@color/grey">
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:layout_weight="2">
                <CheckBox
                    android:id="@+id/chkEtiquetaConsumos"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:text="Etiquetas Consumos"
                    android:textStyle="bold"
                    android:textColor="@color/negro" />            </LinearLayout>
            
        </LinearLayout>
		<!--Etiquetas IXP-->
		<LinearLayout
            android:orientation="horizontal"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:padding="10dp"
            android:background="@color/grey">
            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:layout_weight="2">
                <CheckBox
                    android:id="@+id/chkEtiquetaIXP"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:text="Etiquetas Ingreso por  Producción"
                    android:textStyle="bold"
                    android:textColor="@color/negro" /> 
			</LinearLayout>            
        </LinearLayout>		    
    <!--boton actualizar-->
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:padding="10dp">

            <LinearLayout
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:layout_weight="1">
                <Button
                    android:layout_width="match_parent"
                    android:layout_height="wrap_content"
                    android:background="@color/colorPrimary"
                    android:text="Actualizar"
                    android:id="@+id/btnActualizar" />
            </LinearLayout>
        </LinearLayout>   
</LinearLayout>